clearFix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearFix { display: block; }


.wrapper{
    margin: 0 auto;
    width: 500;
}

.up-jimmy > div {
    margin-top:10px; 
    height: 100px;
    width:200px;
    background-color: #250;
    opacity: 0,5;
}
.up-danilo > div {
    margin-top:10px;
    height: 100px;
    width:200px;
    background-color: #054;
}

.up-leiva > div {
    margin-top:10px;
    height: 100px;
    width:200px;
    background-color: #086;
}

.game {
    width: 100%;
}


.upgrates {
    float: right;
}

.diploma {
    float: left;
}

#bonus {
    color: #580;
    display: hidden;
    text-align: center;
    margin: 0 auto;
}



